img {
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.status {
    font-size: 16px;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color: white;
}

.top-list {
    flex: 0 1 1160px;
}

.notice {
    flex: 0 1 1160px;
    padding: 15px;
}

.player {
    flex: 0 1 1160px;
    padding: 15px;
}

.magic-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.magic-item {
    flex: 0 1 100px;
}

.magic-item>button {
    border: none;
    padding: 0;
    border: 1px solid #ccc;
    margin: 5px;
}

.magic-item>button>img {
    width: 100%;
}

.magic-item>button:hover {
    background-color: white;
}

.player-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.player-item {
    flex: 0 1 500px;
    display: flex;
    flex-direction: row;
}

.player-magic {
    padding: 15px;
    flex: 5;
}

.player-magic>img {
    margin-right: 5px;
}

.player-info {
    flex: 1;
}

.player-info>span {
    font-size: 16px;
}

.expand {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
}

.expand-item {
    flex: 0 1 1160px;
    display: none;
    padding: 15px;
    overflow-y: scroll;
    background-color: white;
    z-index: 3;
    font-size: 24px;
    font-weight: bold;
}

.expand-exit {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0%, 0%, 0%, 0.3);
}

.rule {
    max-height: 600px;
    max-width: 500px;
}

.level {
    max-width: 400px;
}

.used_magic {
    max-height: 800px;
    max-width: 500px;
}

.room {
    width: 100%;
    display: flex;
    justify-content: center;
}

.room-list {
    flex: 0 1 300px;
}

.room-item {
    flex: 0 1 300px;
    display: flex;
}

.half>input,
.half>.btn {
    width: 50%;
    margin: 5px;
}

.half>input {
    border-radius: 5px;
    padding: 5px;
}

.full>.btn {
    width: 100%;
    margin: 5px;
}

div[class^="magic_"]>img {
    width: 9%;
    padding-right: 1px;
}

@media (max-width: 768px) {
    .expand-item {
        max-width: 100%;
    }
    .used_magic {
        max-height: 500px;
    }
}

@media (max-height: 360px) {
    .expand-item {
        max-width: 100%;
    }
    .used_magic {
        max-height: 300px;
    }
}